.icon {
  position: relative;
  display: inline-flex;
  padding: 2em;
}

.show-times {
  position: relative;
  display: inline-flex;
  padding: 2em;
}

.film-title{
  display: inline-flex;
  padding: 2em;
}

img {
    display: inline-flex;
}
